CC_USER=monitoring

CC_GROUP=monitoring

CC_HOME=/tmp

LOG_DIR=/var/log

DATA_DIR=/var/lib/cc-metric-collector

MAX_OPEN_FILES=10000

CONF_DIR=/etc/cc-metric-collector

CONF_FILE=/etc/cc-metric-collector/cc-metric-collector.json

RESTART_ON_UPGRADE=true

# Golang runtime debugging. (see: https://pkg.go.dev/runtime)
# GODEBUG=gctrace=1

# Golang garbage collection target percentage
# GOGC=100
