# See: https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions

# Workflow name
name: Run Test

# Run on event push
on:
  push:
  workflow_dispatch:

jobs:

  #
  # Job build-latest
  # Build on latest Ubuntu using latest golang version
  #
  build-latest:
    runs-on: ubuntu-latest
    steps:
    # See: https://github.com/marketplace/actions/checkout
    # Checkout git repository and submodules
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive

    # See: https://github.com/marketplace/actions/setup-go-environment
    - name: Setup Golang
      uses: actions/setup-go@v6
      with:
        go-version: 1.24
        check-latest: true

    - name: Build MetricCollector
      run: make

    - name: Run MetricCollector once
      run: ./cc-metric-collector --once --config .github/ci-config.json

    # See: https://github.com/golangci/golangci-lint-action
    # Running the linter requires likwid.h, which gets downloaded in the build step
    #- name: Static Analysis with GolangCI-Lint
    #  uses: golangci/golangci-lint-action@v4
    #  with:
    #    version: latest
    #    args: --verbose
        
    # Running the linter requires likwid.h, which gets downloaded in the build step
    - name: Run static analysis with go vet
      run: go vet ./...

  #
  # Build on AlmaLinux 8 using go-toolset
  #
  AlmaLinux8-RPM-build:
    runs-on: ubuntu-latest
    # See: https://hub.docker.com/_/almalinux
    container: almalinux:8
    # The job outputs link to the outputs of the 'rpmrename' step
    # Only job outputs can be used in child jobs
    steps:

    # Use dnf to install development packages
    - name: Install development packages
      run: |
          dnf --assumeyes group install "Development Tools" "RPM Development Tools"
          dnf --assumeyes install wget openssl-devel diffutils delve which

    # Checkout git repository and submodules
    # fetch-depth must be 0 to use git describe
    # See: https://github.com/marketplace/actions/checkout
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Setup Golang
      run: |
          dnf --assumeyes --disableplugin=subscription-manager --enablerepo appstream install go-toolset

    - name: RPM build MetricCollector
      id: rpmbuild
      run: |
          git config --global --add safe.directory /__w/cc-metric-collector/cc-metric-collector
          make RPM

  #
  # Build on AlmaLinux 9 using go-toolset
  #
  AlmaLinux9-RPM-build:
    runs-on: ubuntu-latest
    # See: https://hub.docker.com/_/almalinux
    container: almalinux:9
    # The job outputs link to the outputs of the 'rpmrename' step
    # Only job outputs can be used in child jobs
    steps:

    # Use dnf to install development packages
    - name: Install development packages
      run: |
          dnf --assumeyes group install "Development Tools" "RPM Development Tools"
          dnf --assumeyes install wget openssl-devel diffutils delve which

    # Checkout git repository and submodules
    # fetch-depth must be 0 to use git describe
    # See: https://github.com/marketplace/actions/checkout
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Setup Golang
      run: |
          dnf --assumeyes --disableplugin=subscription-manager --enablerepo appstream install go-toolset

    - name: RPM build MetricCollector
      id: rpmbuild
      run: |
          git config --global --add safe.directory /__w/cc-metric-collector/cc-metric-collector
          make RPM

  #
  # Build on AlmaLinux 10 using go-toolset
  #
  AlmaLinux10-RPM-build:
    runs-on: ubuntu-latest
    # See: https://hub.docker.com/_/almalinux
    container: almalinux:10
    # The job outputs link to the outputs of the 'rpmrename' step
    # Only job outputs can be used in child jobs
    steps:

    # Use dnf to install development packages
    - name: Install development packages
      run: |
          dnf --assumeyes group install "Development Tools" "RPM Development Tools"
          dnf --assumeyes install wget openssl-devel diffutils delve which

    # Checkout git repository and submodules
    # fetch-depth must be 0 to use git describe
    # See: https://github.com/marketplace/actions/checkout
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Setup Golang
      run: |
          dnf --assumeyes --disableplugin=subscription-manager --enablerepo appstream install go-toolset

    - name: RPM build MetricCollector
      id: rpmbuild
      run: |
          git config --global --add safe.directory /__w/cc-metric-collector/cc-metric-collector
          make RPM

  #
  # Build on Red Hat Universal Base Image (UBI 8) using go-toolset
  #
  UBI-8-RPM-build:
    runs-on: ubuntu-latest
    # See: https://catalog.redhat.com/en/search?searchType=Containers&q=Red+Hat+Universal+Base+Image+8
    #      https://hub.docker.com/r/redhat/ubi8
    container: redhat/ubi8
    # The job outputs link to the outputs of the 'rpmbuild' step
    steps:

    # Use dnf to install development packages
    - name: Install development packages
      run: dnf --assumeyes --disableplugin=subscription-manager install rpm-build go-srpm-macros rpm-build-libs rpm-libs gcc make python38 git wget openssl-devel diffutils delve which

    # Checkout git repository and submodules
    # fetch-depth must be 0 to use git describe
    # See: https://github.com/marketplace/actions/checkout
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Setup Golang
      run: |
          dnf --assumeyes --disableplugin=subscription-manager --enablerepo ubi-8-appstream-rpms install go-toolset

    - name: RPM build MetricCollector
      id: rpmbuild
      run: |
          git config --global --add safe.directory /__w/cc-metric-collector/cc-metric-collector
          make RPM

  #
  # Build on Red Hat Universal Base Image (UBI 9) using go-toolset
  #
  UBI-9-RPM-build:
    runs-on: ubuntu-latest
    # See: https://catalog.redhat.com/en/search?searchType=Containers&q=Red+Hat+Universal+Base+Image+9
    #      https://hub.docker.com/r/redhat/ubi9
    container: redhat/ubi9
    # The job outputs link to the outputs of the 'rpmbuild' step
    steps:

    # Use dnf to install development packages
    - name: Install development packages
      run: dnf --assumeyes --disableplugin=subscription-manager install rpm-build go-srpm-macros gcc make python39 git wget openssl-devel diffutils delve

    # Checkout git repository and submodules
    # fetch-depth must be 0 to use git describe
    # See: https://github.com/marketplace/actions/checkout
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Setup Golang
      run: |
          dnf --assumeyes --disableplugin=subscription-manager --enablerepo ubi-9-appstream-rpms install go-toolset

    - name: RPM build MetricCollector
      id: rpmbuild
      run: |
          git config --global --add safe.directory /__w/cc-metric-collector/cc-metric-collector
          make RPM

  #
  # Build on Red Hat Universal Base Image (UBI 10) using go-toolset
  #
  UBI-10-RPM-build:
    runs-on: ubuntu-latest
    # See: https://catalog.redhat.com/en/search?searchType=Containers&q=Red+Hat+Universal+Base+Image+10
    #      https://hub.docker.com/r/redhat/ubi10
    container: redhat/ubi10
    # The job outputs link to the outputs of the 'rpmbuild' step
    steps:

    # Use dnf to install development packages
    - name: Install development packages
      run: dnf --assumeyes --disableplugin=subscription-manager install rpm-build go-srpm-macros gcc make python3 git wget openssl-devel diffutils delve

    # Checkout git repository and submodules
    # fetch-depth must be 0 to use git describe
    # See: https://github.com/marketplace/actions/checkout
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: 0

    - name: Setup Golang
      run: |
          dnf --assumeyes --disableplugin=subscription-manager --enablerepo ubi-10-for-x86_64-appstream-rpms install go-toolset

    - name: RPM build MetricCollector
      id: rpmbuild
      run: |
          git config --global --add safe.directory /__w/cc-metric-collector/cc-metric-collector
          make RPM

  #
  # Build on Ubuntu 22.04 using official go package
  #
  Ubuntu-jammy-build:
    runs-on: ubuntu-latest
    container: ubuntu:22.04

    steps:
    # Use apt to install development packages
    - name: Install development packages
      run: |
          apt update && apt --assume-yes upgrade
          apt --assume-yes install build-essential sed git wget bash
    # Checkout git repository and submodules
    # fetch-depth must be 0 to use git describe
    # See: https://github.com/marketplace/actions/checkout
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: 0
    # Use official golang package
    # See: https://github.com/marketplace/actions/setup-go-environment
    - name: Setup Golang
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'

    - name: DEB build MetricCollector
      id: dpkg-build
      run: |
          export PATH=/usr/local/go/bin:/usr/local/go/pkg/tool/linux_amd64:$PATH
          make DEB

  #
  # Build on Ubuntu 24.04 using official go package
  #
  Ubuntu-noblenumbat-build:
    runs-on: ubuntu-latest
    container: ubuntu:24.04

    steps:
    # Use apt to install development packages
    - name: Install development packages
      run: |
          apt update && apt --assume-yes upgrade
          apt --assume-yes install build-essential sed git wget bash
    # Checkout git repository and submodules
    # fetch-depth must be 0 to use git describe
    # See: https://github.com/marketplace/actions/checkout
    - name: Checkout
      uses: actions/checkout@v6
      with:
        submodules: recursive
        fetch-depth: 0
    # Use official golang package
    # See: https://github.com/marketplace/actions/setup-go-environment
    - name: Setup Golang
      uses: actions/setup-go@v6
      with:
        go-version: 'stable'

    - name: DEB build MetricCollector
      id: dpkg-build
      run: |
          export PATH=/usr/local/go/bin:/usr/local/go/pkg/tool/linux_amd64:$PATH
          make DEB
